@model IEnumerable<WebStore.Domain.Entities.Product>
@{
	ViewData["Title"] = "Список товаров";
}

<p>
	<a class="btn btn-primary">Создать новый</a>
</p>

<table class="table">
	<thead>
		<tr>
			<td>@Html.DisplayNameFor(product => product.Id)</td>
			<td>@Html.DisplayNameFor(product => product.Name)</td>
			<td>@Html.DisplayNameFor(product => product.Order)</td>
			<td>@Html.DisplayNameFor(product => product.SectionId)</td>
			<td>@Html.DisplayNameFor(product => product.BrandId)</td>
			<td>@Html.DisplayNameFor(product => product.ImageUrl)</td>
			<td>@Html.DisplayNameFor(product => product.Price)</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			<tr>
				<td>@Html.DisplayFor(p => product.Id)</td>
				<td>@Html.DisplayFor(p => product.Name)</td>
				<td>@Html.DisplayFor(p => product.Order)</td>
				<td>@Html.DisplayFor(p => product.SectionId)</td>
				<td>@Html.DisplayFor(p => product.BrandId)</td>
				<td>@Html.DisplayFor(p => product.ImageUrl)</td>
				<td>@Html.DisplayFor(p => product.Price)</td>
				<td>
					<a>Edit</a>|<a>Details</a>|<a class="text-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
